
body {
  background-color: $background-color;
  font-family: $font-family;
  font-weight: $font-regular;
  color: $text-color;
  padding-top: 178px;
  @media only screen and (max-width: $screen-md) {
    padding-top: 85px;
  }
}
#paypal-box {
  display: none;
}

.send_email_to_box {
  display: none;
}

*:focus {
  outline: none !important;
}

::selection{
  background: transparent !important;
}

::-moz-selection{
  background: transparent !important;
  
}
input[type=text],
input[type=email],
textarea {
  color: $text-color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 174px;
  right: 4%;
  z-index: 10;
  &:hover {
    svg {
      fill: $background-aktive;
      stroke: $background-aktive;
    }
  }
  &.active {
    display: inline-block;
    @media only screen and (max-width: $screen-md) {
      display: none;
    }
  }

}
input:focus {
  outline: none;
}
.m-bottom {
  margin-bottom: $section-margin-bottom;
  @media only screen and (max-width: $screen-md) {
    margin-bottom: 0;
  }
}

.m-top {
  margin-top: $section-margin-top;
  @media only screen and (max-width: $screen-md) {
    margin-top: 0;
  }
}

h1 {
  display: inline-block;
  position: relative;
  font-size: $h1-font-size;
  letter-spacing: $h1-letter-spacing;
  color: $h1-color;
  padding-bottom: 15px;
  @media only screen and (max-width: $screen-md) {
    font-size: $font-size-28;
    padding-bottom: 0px;
  }
  //&::after {
  //  content: "";
  //  background: $color-yellow;
  //  width: 1500px;
  //  height: 1px;
  //  position: absolute;
  //  display: block;
  //  bottom: -11px;
  //  right: 1px;
  //}
  .line {
    content: "";
    background: $text-color;
    width: 1500px;
    height: 1px;
    position: absolute;
    display: block;
    bottom: -11px;
    right: 1px;
    &.green {
      background: $background-aktive;
  }
  }
  &.title {
    margin-right: $margin-15;
    .icon {
      width: 45px;
      svg {
        display: inline-block;
        margin-top: -6px;
        @media only screen and (max-width: $screen-md) {
          fill: $text-color;
        }
      }
    }
  }

}

h2 {
  display: inline-block;
  position: relative;
  font-size: $h2-font-size;
  letter-spacing: $h2-letter-spacing;
  color: $h2-color;
  span {
    &.icon {
      width: 60px;
      height: 40px;
    }
  }
  &.title {
    &::after {
      content: "";
      background: $heading-color;
      width: 1500px;
      height: 1px;
      position: absolute;
      display: block;
      bottom: -4px;
      right: 1px;
    }
  }
}

h3 {
  display: inline-block;
  position: relative;
  font-size: $h3-font-size;
  letter-spacing: $h3-letter-spacing;
  color: $h3-color;
  @media only screen and (max-width: $screen-md) {
    font-size: $font-size-16;
  }
}

h4 {
  font-weight: $font-regular;
  font-size: $h4-font-size;
  color: $h4-color;
}

a,
input {
  &.button {
    display: inline-block;
    background-color: $background-aktive;
    color: #fff;
    padding: 4px 35px 4px 35px;
    border-radius: 18px;
    border:1px solid $background-aktive;
    @include transform-all;
    &.download {
      color: $text-black-color;
      font-size: $font-size-16;
      font-weight: $font-medium;
      background-color: $background-dark;
      border: 1px solid $background-dark;
      border-radius: 30px;
      padding: 4px 25px 4px 25px;
      svg {
        width: 26px;
        margin-right: 15px;
      }
      &:hover {
        color: $text-color;
        border-color: $text-color;
      }
    }
    &:hover {
      background-color: transparent;
      color: $background-aktive;
    }
  }
}

a {
  color: $text-color;
  &:hover {
    text-decoration: none;
    color: $text-color;
    &.button {
      background-color: transparent;
      color: $background-aktive;
    }
  }

  &.actual {
    padding: 5px 55px 5px 25px;
    svg {
      position: absolute;
      right: 25px;
      top: 9px;
      stroke: #fff;
      fill: #fff;
    }
    &:hover {
      svg {
        stroke: $background-aktive;
        fill: $background-aktive;
      }
    }
  }
}


.logo {
  img {
    width: 81px;
    @media only screen and (max-width: $screen-md) {
      width: 60px;
    }
  }
}


.container {
  max-width: 1680px;
  &.section {
    margin-top: 65px;
    @media only screen and (max-width: $screen-md) {
      margin-top: 30px;
    }
  }
  &.main-section {
    margin-top: 115px;

    @media only screen and (max-width: $screen-md) {
      margin-top: 15px;
    }

    @media only screen and (max-width: $screen-md) {
      margin-bottom: 0;
    }
  }
  &.menu {
    width: 1500px;
    margin-bottom: 0px;
    @media only screen and (max-width: $screen-md) {
        width: 100%;
        min-width: 100%;
        display: block;
        margin-left: 0px;
        margin-right: 0px;
    }
    .dropdown-toggle::after {
      display: none;
    }
    .navbar-collapse {
      @media only screen and (max-width: $screen-md) {
        overflow: hidden;
        ul {
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 30px;
          li {
            text-align: left;
            a {
              color: $color-main-05;
              &.disabled {
                color: $color-main-05;
              }
            }
              &.menu-item-has-children {
                >a {
                  display: inline-block;
                  padding-top: 15px;
                  padding-right: 15px;
                  background-image: url("../../img/calendar_right.svg");
                  background-position-x: right;
                  background-repeat: no-repeat;
                  background-position-y: 22px;
                  background-size: 5px;
                  color: $color-main-05;
                  &.disabled {
                    color: $color-main-05;
                  }
                }
              }
            .sub-menu {
              display: block;
              position: fixed;
              top: 100px;
              left: 100%;
              width: 100%;
              height: 369px;
              @include transform-all;
              border: none;


            }
            &.active {
              .sub-menu {
                left: 0px;
              }
            }
          }
        }
        .mobile-menu-part {
          height: 70px;
          max-width: 100%;
          overflow: visible;
          margin-right: 30px;
          margin-left: 30px;
          padding-top: 30px;
          position: relative;
          padding-bottom: 55px;
          .soc-links {
            padding-top: 7px;
            display: inline-block;
          }
          .lang-switcher {
            padding-top: 7px;
          }
          &:before {
            content: "";
            display: block;
            position: absolute;
            height: 1px;
            background: $color-main-05;
            width: 1500px;
            left: -50px;
            top: 8px;
          }
          &>div {
            width: 33%;
            float: left;
            .lang-switcher {
              text-align: center;
            }
            .donate {
              text-align: right;
            }
          }
        }
      }

    }
    button {
      border: none;
      margin-left: 25px;
      margin-top: -55px;
      position: absolute;
      .icon-bar {
        display: block;
        width: 30px;
        height: 2px;
        border-radius: 1px;
        background-color: $text-color;
        margin-top: 4px;
        transition: all 0.15s;
      }
      &.navbar-toggler {
        .icon-bar {
          &:nth-child(2) {
            transform: rotate(45deg);
            transform-origin: 10% 10%;
          }

          &:nth-child(3) {
            opacity: 0;
          }

          &:nth-child(4) {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
            margin-top: 8px;
          }
        }
        &.collapsed {
          .icon-bar {
            &:nth-child(2),
            &:nth-child(4) {
              transform: rotate(0);
              margin-top: 4px;
            }

              &:nth-child(3) {
              opacity: 1;
            }
          }


        }
      }

    }
    #menu-main_menu {
      li {
        &.current_page_item,
        &.current-menu-parent {
          &>a {
            &::after {
              display: block !important;
              width: 38%;
              @media only screen and (max-width: $screen-md) {
                display: none !important;
              }
            }
            &:hover {
              &::after {
                display: none !important;
              }
            }
          }
        }
        a {
          &.active {
            //color:  $color-active-black;
          }
          &::after {
            display: block;
            content: "";
            background-color: $background-aktive;
            height: 1px;
            width: 0;
            position: absolute;
            left: 35px;
            bottom: 5px;
            border: none;
            -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
            transition: width 0.5s;
            color: $text-color;
          }
          &.dropdown-toggle {
            &::after {
              //display: none;
            }
          }
        }
        &:first-child,
        &.current-menu-parent {
          a {
            &::after {
              left: 29px;
            }
          }
        }
        a{
          position: relative;

          &:hover {

            &::after {
              //display: block;
              width: 38%;
            }
          }
        }
        .sub-menu {
          // submenu
          border-left: 1px solid $background-aktive;
          border-bottom: 1px solid $background-aktive;
          border-right: none;
          border-top: none;
          margin-top: -6px;
          background-color: #fff;
          text-align: center;
          a {
            padding-top: 15px;
          }
          &:before {
            content: "";
            display: block;
            position: absolute;
            width: 60%;
            height: 1px;
            top: 0px;
            left: 0px;
            background-color: $background-aktive;
          }

          @media only screen and (max-width: $screen-md) {
            border-left: none;
            border-bottom: none;
            background-color: $background-color;
            text-align: left;
            padding-top: 40px;
            height: 427px;
            &::after {
              display: none;
            }
            &::before {
              display: none;
            }
            .close {
              display: block;
              width: 20px;
              height: 30px;
              position: absolute;
              top: 11px;
              left: 21px;
              background-image: url("../../img/menu_back.svg");
              background-repeat: no-repeat;
              background-size: 15px;
            }
            a {
              padding-left: 31px;
              &.active {
                background-color: $background-color;
              }
              &:hover {
                background-color: $background-color;
                color: #000;
              }
              &.active {
                background-color: $background-color;
                color: #000;
              }

            }
          }

          a {
            color: $text-color;
              &::after {
                display: none;
              }
            &:hover {
              background-color: #fff;
              color: #000;
              @media only screen and (max-width: $screen-md) {
                background-color: $background-color;
              }
            }
            &.active {
              background-color: #fff;
              color: #000;
              @media only screen and (max-width: $screen-md) {
                background-color: $background-color;
              }
            }
            &:active {
              background-color: #fff;
              @media only screen and (max-width: $screen-md) {
                background-color: $background-color;
              }
            }
          }
        }
      }
    }
  }
  &.article {
    max-width: 1150px;
  }
  &.about-us-blocks {
    max-width: 1435px;
  }
  &.history {
    max-width: 1640px;
  }
  &.documents {
    max-width: 1640px;
  }
  img {
    max-width: 100%;
  }
}
nav {
  &.navbar {
    padding: 0;
  }
}
.pre-header {
  display: block;
  width: 100%;
  height: 0;
  @media only screen and (max-width: $screen-md) {
    height: 0;
  }
}
.header-box {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 99999;
  background: $background-color;
  top: 0px;
  &.active {
    .container-header {
      padding: 0 0 0 0;
      @media only screen and (max-width: $screen-md) {
        padding: 10px 0 10px 0;
      }
    }
  }
}
.container-header {
  padding: 25px 0 25px 0;
  //border-bottom: 0.5px solid rgba(0,0,0, 0.5);
  max-width: 1640px;
  font-size: $font-size-small;
  color: $text-color;
  @include transform-all;
  @media only screen and (max-width: $screen-md) {
    padding: 10px 0 10px 0;
  }

  .mobile-padding {
    @media (max-width: $width-loptop) {
      padding-right: $padding-15;
      padding-left: $padding-15;
    }
  }
  .lang-switcher {
    display: inline-block;
    margin-right: 30px;
    a {
      margin-right: 5px;
      opacity: 0.2;
      @include transform-all;
      &.active,
      &:hover {
        opacity: 1;
      }
    }
  }
  a {
    text-decoration: none;
    //color: $text-color;
  }
  .txt {
    margin-right: $margin-15;
  }
  .soc-links {
    margin-left: $margin-15;
    a {
      margin-left: $margin-15;
    }
  }
}

.header-separator {
  display: block;
  width: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  height: 1px;
}

.home_banner {
  width: 474px;
  max-width: 474px;
  padding: 11px 11px 83px 11px;
  margin: 0 auto 0 auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 5px 3px 30px #07358F29;
  opacity: 1;
  filter: blur(undefined);
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: all 0.3s ease;
  @media only screen and (max-width: $screen-md) {
    &:after {
      content: "";
      display: none;

    }
  }

  &:first-child,
  &:last-child {
    @media only screen and (max-width: $screen-md) {
      display: none;
    }
  }
  &:hover {
    -ms-transform: translate(0px,-50px); /* IE 9 */
    -webkit-transform: translate(0px,-50px); /* Safari prior 9.0 */
    transform: translate(0px,-50px); /* Standard syntax */
    .banner-button {
      visibility: visible;
      opacity: 1;
      height: auto;
      bottom: -16px;
      @media only screen and (max-width: $screen-md) {
        opacity: 1;
        height: auto;
        bottom: -16px;
        width: 100%;
        .read-more {
          width: auto;
          border-radius: 24px;
        }
      }
    }
  }

  img {
    max-width: 100%;
  }
  .title {
    margin-top: 20px;
    display: block;
    text-decoration: none;
    font-family: $font-family;
    font-size: 20px;
    font-weight: $font-medium;
    letter-spacing: 0.48px;
    color: #707070;
    line-height: 28px;
    opacity: 0.9;
  }
  .banner-button {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    bottom: -16px;
    left: 0;
    @media only screen and (max-width: $screen-md) {
      opacity: 1;
      width: 100%;
      height: 2px;
      bottom: -2px;
      overflow: hidden;

    }
    .read-more {
      color: #fff;
      text-align: center;
      text-decoration: none;
      background-color: $background-aktive;
      font-size: 16px;
      padding: 4px 40px;
      display: inline-block;
      border-radius: 24px;
      border: 1px solid $background-aktive;
      width: auto;
      @include transform-all;
      &:hover
      {
        background-color: #fff;
        color: $background-aktive !important;
      }
      @media only screen and (max-width: $screen-md) {
        width: 30px;
        border-radius: 0;
      }
    }
  }

  .banner-bottom {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0px;
    padding: 0 15px;

    .date {
      .txt {
        font-size: 14px;
      }
      opacity: 0.9;
    }

    .views {
      width: 50%;
      float: right;
      text-align: right;
      margin-top: 8px;
      .txt {
        font-size: 14px;
        font-weight: $font-regular;
      }
    }

    .category {
      width: 50%;
      float: left;
      text-align: left;
      .txt {
        font-size: 14px;
        font-weight: $font-regular;
        a {
          color: $text-color;
          &:hover {
            text-decoration: none;
            color: $color-active-black;
          }
        }
      }
      .icon {
        margin-right: 10px;
        svg {
          width: 17px;
        }
      }
      .line {
        display: block;
        width: 50px;
        position: absolute;
        height: 1px;
        background: #FFCD00;
      }
    }
  }

}
@keyframes fadeIn {
  from { opacity: 1; }
  to { opacity: 0; }
}


@-webkit-keyframes move {
  0% {opacity: 1; top:0px;}
  99% {opacity: 0; top:0px;}
  100% {opacity: 0; top: -5000px;}
}

@keyframes move {
  0% {opacity: 1; top:0px;}
  99% {opacity: 0; top:0px;}
  100% {opacity: 0; top: -5000px;}
}

.home-subscribe{
  @media only screen and (max-width: $screen-md) {
    background-color: transparent !important;
  }
form {
  overflow: hidden;
  &.subscribe,
  &.sib_signup_form {
    .sib_loader {
      display: none !important;
    }
    padding: 42px 0;
    color: $text-color;
    .sib_msg_disp {
      p {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: $background-aktive !important;
        border: none !important;
        color: #fff !important;
        opacity: 1;
        padding-top: 50px !important;
        z-index: 9;
      }
    }
    p {
      &.sib-alert-message {
        &.sib-alert-message-warning {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background-color: $color-form-error !important;
          border: none !important;
          color: #fff !important;
          opacity: 1;
          z-index: 9;
          padding-top: 50px !important;
          -webkit-animation: move  0.5s 2s ease-in-out forwards;
          animation: move  0.5s 2s ease-in-out forwards;
      }
    }
    }
    @media only screen and (max-width: $screen-md) {
      display: inline-block;
    }
    .txt {
      margin-right: $margin-15;
      @media only screen and (max-width: $screen-md) {
        display: none;
      }
    }

    .txt-line {
      @media only screen and (max-width: $screen-md) {
        display: none;
      }
    }
    .submit-box {
      width: 240px;
      margin-left: -7px;
      display: inline-block;
      padding: 2px;
      border-top: 1px solid $color-main-05;
      border-bottom: 1px solid $color-main-05;
      border-right: 1px solid $color-main-05;
      border-radius: 0px 29px 29px 0px;
      @media only screen and (max-width: $screen-md) {
        width: 240px;
        margin-left: -229px;
      }
    }
    input[type=email],
    input[type=text] {
      width: 725px;
      border-left: 1px solid #707070;
      border-top: 1px solid #707070;
      border-bottom: 1px solid #707070;
      border-radius: 29px 0px 0px 29px;
      opacity: 0.5;
      text-align: center;
      padding: 8px 0;
      margin-left: $margin-15;
      @media only screen and (max-width: $screen-md) {
        width: 312px;
        margin-left: 0;
        text-align: left;
        padding-left: 15px;
      }
    }
    input[type=submit] {
      width: 232px;
      background-color: $color-danger;
      border: 1px solid $color-danger ;
      padding: 5px 0;
      border-radius: 29px;
      z-index: 1;
      position: relative;
      color: #fff;
      &:hover {
        color: $color-danger;
      }

    }
  }

}

}
/* News category block */

.news-category-block {
  margin-top: 15px;
  @media only screen and (max-width: $screen-md) {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  h2 {
    margin-top: 15px;
    font-weight: $font-regular;
    margin-bottom: 0;
    @include transform-width;
    .line {

    }
    &:hover {
      .line {
        width:100%;
      }
    }
    @media only screen and (max-width: $screen-md) {
      font-size: $font-size-20;
    }
    svg {
      margin-right: $margin-15;
    }
    .count {
      font-size: 20px;
    }
    .icon {
      @media only screen and (max-width: $screen-md) {
        width: 30px;
        margin-left: 7px;
      }
      svg {
        height: 38px;
        @media only screen and (max-width: $screen-md) {
          height: 20px;
        }
      }
    }
    .line {
      position: absolute;
      display: block;
      content: "";
      width: 100px;
      height: 1px;
      background-color: #4388D6;
      left: 0;
      bottom: -15px;
      @include transform-all;
      @media only screen and (max-width: $screen-md) {
        bottom: 0px;
      }
    }
    a {
      color: $text-color;
      &:hover {
        text-decoration: none;
        color: $color-active-black;
      }
    }
  }

  .news-box {
    position: relative;
    width: 732px;
    padding: $padding-15;
    margin-top: $margin-15;
    margin-bottom: $margin-15;
    @media only screen and (max-width: $screen-md) {
      margin-top: 0px;
      padding-left: 11px !important;
      padding-right: 11px !important;
    }
    @media (max-width: $width-loptop) {
      width: auto;
    }
    a {
      text-decoration: none;
      color: $text-color;
    }


    .news-image {
      //width: 50%;
      //float: left;
      img {
        width: 348px;
        min-width: 348px;
      }
      @media only screen and (max-width: $screen-md) {
        img {
          min-width: 157px;
          margin-left: -41px;
        }
        a {
          display: block;
          width: 70px;
          max-width: 70px;
          overflow: hidden;
          max-height: 103px;
        }
      }
    }
    .news-content {
      //width: 50%;
      //float: right;
      padding-right: $padding-15;
      padding-left: $padding-15;
      @media only screen and (max-width: $screen-md) {
        padding-top: 0px;
      }
      .eye {
        margin-right: 10px;
        font-weight: 400;
        margin-left: 15px;
      }
      span {
        font-size: 14px;
      }
    }
  }
}

/* Partners */
#partners {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1404px;
  height: 328px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 5px 3px 30px #07358F29;
  opacity: 1;
  margin-bottom: 100px;
  @media screen and (max-width: $width-loptop) {
    width: 90%;
  }
  @media only screen and (max-width: $screen-md) {
    width: 100%;
    height: auto;
    border: 1px solid #fff;
    margin-top: 35px;
    padding-bottom: 40px;
  }
  h4 {
    margin-top: 70px;
    margin-bottom: 70px;
    @media only screen and (max-width: $screen-md) {
      font-size: $font-size-14;
    }
  }
  filter: blur(undefined);
  .sponsors {
    position: relative;
    width: 50%;
    float: left;
    @media only screen and (max-width: $screen-md) {
      width: 100%;
      float: none;
    }
  }
  .partners {
    position: relative;
    width: 50%;
    float: right;
    @media only screen and (max-width: $screen-md) {
      width: 100%;
      float: none;
    }
  }
  img {
    margin-right: 20px;
    margin-left: 20px;
    @media only screen and (max-width: $screen-md) {
      margin-right: 0px;
      margin-left: 0px;
    }
  }
}

/* End Partners */


/* Footer */

footer {
  position: relative;
  @media only screen and (max-width: $screen-md) {
    height: auto;
  }

  nav {
    &.navbar {
      padding-left: 0 !important;

      .menu {
        @media only screen and (max-width: $screen-md) {
          width: 100%;
        }
      }

      ul {
        margin-top: 20px;
        margin-bottom: 20px;
        @media only screen and (max-width: $screen-md) {
          display: block;
          text-align: center;
        }

        li {
          @media only screen and (max-width: $screen-md) {
            display: inline-block;
          }

          a {
            @media only screen and (max-width: $screen-md) {
              display: inline-block;
              font-size: $font-size-12;
              color: $text-color;
            }

            &.nav-link {
              padding-right: 20px !important;
            }
          }

          &:first-child {
            padding-left: 0px !important;

            a {
              padding-left: 0px !important;
            }
          }
        }
      }
    }

  }

  .menu {
    margin-bottom: 0;
  }

  border-top: none;
  background-color: $footer-bacground-color;
  height: 155px;
  color: $text-color;

  p {
    font-size: 16px;

    &.desctop {
      margin-top: 15px;
      @media only screen and (max-width: $screen-md) {
        display: none;

      }
    }

    @media only screen and (max-width: $screen-md) {
      color: $text-color;
      font-size: $font-size-12;
    }
  }

  nav {
    width: 400px;
    @media only screen and (max-width: $screen-md) {
      width: 100%;
    }
  }

  a {
    color: $text-color;

    &.button-danger {
      &:hover {
        color: #fff !important;
      }
    }

    &.actual {
      margin-top: 35px;
      position: relative;
      display: inline-block;
      @media only screen and (max-width: $screen-md) {
        margin-top: 0px;
        margin-right: 10px;
        display: inline-block;
        position: relative;
      }
    }
  }

  .home-subscribe {



  form {
    position: relative;
    float: right;
    width: 842px;
    border: 1px solid $color-main-05;
    border-radius: 32px;
    @media only screen and (max-width: $screen-md) {
      float: none;
      width: 100%;
      margin-bottom: 15px;
    }
    &.subscribe,
    &.sib_signup_form {
      padding: 0 0;

      .sib_loader {
        display: none !important;
      }

      .sib_msg_disp {
        p {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          text-align: center;
          height: 100%;
          width: 100%;
          background-color: $background-aktive !important;
          border: none !important;
          color: #fff !important;
          opacity: 1;
          padding-top: 11px !important;
          z-index: 9;
        }
      }

      p {
        &.sib-alert-message {
          &.sib-alert-message-warning {
            text-align: center;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: $color-form-error !important;
            border: none !important;
            color: #fff !important;
            opacity: 1;
            z-index: 9;
            padding-top: 11px !important;
            -webkit-animation: move 0.5s 2s ease-in-out forwards;
            animation: move 0.5s 2s ease-in-out forwards;
            @media only screen and (max-width: $screen-md) {
              width: 100%;
            }
          }
        }
      }

      padding: 0 0;
      margin-top: 20px;
      @media only screen and (max-width: $screen-md) {
        padding: 0;
      }

      .submit-box {
        margin-left: -4px;
        border: none;
        opacity: 1;
        @media only screen and (max-width: $screen-md) {
          position: absolute;
          top: 0px;
          right: 1px;
          margin-left: -4px;
        }
      }

      input[type=text],
      input[type=email]{
        width: 600px;
        background-color: transparent !important;
        border-top: none;
        border-left: none;
        border-bottom: none;
        border-right: none;
        border-radius: 29px 0px 0px 29px;
        color: #fff;
        margin-left: 0;
        opacity: 1;
        @media only screen and (max-width: $screen-md) {
          width: 100%;
          text-align: left;
          padding-left: 15px;
        }
      }

      input[type=submit] {
        &:hover {
          color: #fff !important;
        }
      }
    }

  }
}


}

/* End Footer */


/* All elements */
.calendar {
  svg {
    margin-top: -3px;
  }
}
.icons {
  margin: 15px 0;
  .calendar {
    margin-right: 10px;
    font-weight: 400;
    svg {
      margin-top: -3px;
    }
  }
  .eye {
    margin-right: 10px;
    font-weight: 400;
    margin-left: 15px;
  }
  span {
    font-size: 14px;
  }
}

.category {
  width: 50%;
  float: left;
  text-align: left;
  .txt {
    font-size: 14px;
    font-weight: $font-regular;
    a {
      color: $text-color;
      &:hover {
        text-decoration: none;
        color: $color-active-black;
      }
    }
  }
  .icon {
    margin-right: 10px;
    svg {
      width: 17px;
    }
  }
  .line {
    display: block;
    width: 50px;
    position: absolute;
    height: 1px;
    background: #FFCD00;
  }
}

.cat {
  .txt {
    font-size: 14px;
    font-weight: $font-regular;
    a {
      color: $text-color;
      &:hover {
        text-decoration: none;
        color: $color-active-black;
      }
    }
  }
  .icon {
    margin-right: 10px;
    svg {
      width: 17px;
    }
  }
  .line {
    display: block;
    width: 50px;
    position: absolute;
    height: 1px;
    background: #FFCD00;
  }
}

.link-back {
  font-size: 16px;
  color: #2F2A26;
  font-weight: $font-medium;
  &:hover {
    color: #2F2A26;
  }
  svg {
    margin-top: -3px;
    margin-right: 10px;
  }
}

.socials {
  margin: 20px 0;
  a {
    font-size: 14px;
    margin: 0px 10px;
    &:last-child {
      margin-right: 0px;
    }
    span {
      margin-left: 10px;
    }
    svg {
      fill: $text-color;
      height: 20px;
      width: 20px;
    }
    &:hover {
      svg {
        fill: $background-aktive;
      }
    }
  }
}

span.icon {
  display: inline-block;
  text-align:left;
}

.post-author {
  font-size: 14px;
  font-weight: $font-medium;
  opacity: 0.9;
}

.button-danger {
  @include transform-all;
  &:hover {
    background-color: transparent !important;
    color: $color-danger;
  }
}


.views {
  font-size: $font-size-14;
}

.date {
  font-size: $font-size-14;
  svg {
    margin-top: -3px;
  }
}

p {
  font-size: $font-size-16;
  line-height: 22px;
}

.no-padding {
  padding: 0px !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.cls {
  position: relative;
  clear: both;
  height: 0;
}
.scroll-marker-box {
  position: relative;
  display: block;
  height: 0px;
  max-height: 0px;
}
.scroll-marker {
  position: absolute;
  height: 1px;
  max-height: 1px;
  top: -150px;
}

.related-posts {
  width: 1121px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 170px;
  @media only screen and (max-width: $screen-md) {
    width: 100%;
    margin-bottom: 70px;
  }
  h2 {
    position: relative;
    color: $text-color;
    font-size: 24px;
    font-weight: $font-medium;
    margin-bottom: 65px;
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 100%;
      height: 1px;
      background-color: $text-color;
    }
    @media only screen and (max-width: $screen-md) {
      text-align: left;
      font-size: $font-size-18;
      margin-bottom: 30px;
    }
  }
  .col {
    text-align: center;
    .post-box {
      margin-left: auto;
      margin-right: auto;
    }
    &:first-child,
    &:nth-child(2){
      .post-box {
        margin-left: 0px;
      }
      text-align: left;
    }
    &:last-child {
      text-align: right;
      .post-box {
        float: right;
      }
    }
  }
  .post-box {
    position: relative;
    width: 336px;
    height: 420px;
    overflow: hidden;
    .news-content {
      height: 156px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(255,255,255,0.8);
      h3 {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        font-weight: $font-medium;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
        @media only screen and (max-width: $screen-md) {
          height: 74px;
        }
      }
      .info-bottom {
        position: absolute;
        width: 100%;
        height: 54px;
        bottom: 0;
        left: 0;
        .date {
          display: block;
          text-align: center;
          font-weight: $font-medium;
          font-size: 15px;
          margin-bottom: 0px;
        }
        .category {
          margin-left: 15px;
        }
        .views {
          position: relative;
          width: 50px;
          float: right;
          margin-top: 7px;
          text-align: right;
          margin-right: 15px;
        }
      }

    }
    .line {
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #003CFF;
    }
  }
}

/* END All elements */

/* cf7 fixes */

.wpcf7 {
  .wpcf7-response-output,
  .wpcf7-not-valid-tip {
    display: none !important;
  }
  input,
  textarea {
    &.wpcf7-not-valid {
      border-bottom: 2px solid $color-form-error !important;
    }
  }
}

.cf-message {
  display: block;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  text-align: center;
  color: #fff;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 3px 5px 30px #00000029;
  .txt {
    margin-top: 115px;
    margin-bottom: 20px;
  }
  svg {
    width: 40px;
    height: 40px;
    fill: #fff;
    stroke: #fff;
  }
  @include transform-all;
  z-index: 1;
  &.active {
    height: 100%;
  }
  &.error {
  background: $color-form-error;
  }

  &.success {
    background: $background-aktive;
  }
}


/* END News category block */

//@media (min-width: $width-loptop) {
//  .container {
//    width: 1670px;
//    max-width: 1670px;
//  }
//}
@media (max-width: $width-loptop) {
  .container {
    width: 90%;
    max-width: 90%;
  }
}

@media only screen and (max-width: $screen-md) {
  .container {
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col {
    padding-right: 15px;
    padding-left: 15px;
  }
}