.documents-constitution {
  &.seimai {
    padding-bottom: 120px;
    h1 {
      @media only screen and (max-width: $screen-md) {
        font-size: $font-size-20;
      }
    }
    .descr {
      font-size: $font-size-14;
      color: $text-color;
      font-weight: $font-regular;
      margin-bottom: 40px;
      &::after {
        display: none;
      }
    }
    .block {
      margin-bottom: 30px;
      font-size: $font-size-20;
      a {
        display: block;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: $text-color;
        font-weight: $font-medium;
        font-size: $font-size-42;
        @media only screen and (max-width: $screen-md) {
         margin-bottom: 0;
        }
      }
      &:hover {
        font-weight: bold;
        a {
          text-decoration: underline;
          color: $background-aktive;
          font-weight: $font-medium;
        }
      }
    }

  }
}