.documents-constitution {
  &.archyve {
    padding-bottom: 120px;
    h1 {
      margin-bottom: 0px;
    }
    .block-box {
      display: inline-block;
      .content {
        text-align: left;
        width: 134px;
        margin: 30px auto;
        font-size: $font-size-14;
        font-weight: $font-medium;
        p {
          margin-bottom: 0;
          font-size: $font-size-14;
          font-weight: $font-medium;
        }
      }
    }

    .cats-menu {

      a {
        display: inline-block;
        margin: 50px 35px 50px 35px;
        font-size: $font-size-16;
        font-weight: $font-regular;
        opacity: 0.5;
        &:first-child {
          margin-left: 0;
        }
        &:hover,
        &.active {
          font-weight: $font-bold;
          opacity: 1;
        }
      }
      @media only screen and (max-width: $screen-md) {
        margin-top: 35px;
        margin-bottom: 40px;
        .cats-box {
          overflow: hidden;
          height: 30px;
          max-height: 30px;
        }

        .cats-scroll {
          width: 100%;
          max-width: 100%;
          overflow: auto;
        }

        .cats-line {
          width: 1000px;
          height: 40px;
          a {
            margin-top: 0;
            margin-bottom: 0;
          }
        }

      }
    }
    .descr {
      font-size: $font-size-14;
      color: $text-color;
      font-weight: $font-regular;
      margin-bottom: 40px;
      &::after {
        display: none;
      }
    }
    .block {
      margin-bottom: 40px;
      font-size: $font-size-20;
      @media only screen and (max-width: $screen-md) {
        padding-right: 10px;
        padding-left: 10px;
      }
      .title {
        display: block;
        margin-bottom: 15px;
        text-transform: none;
        color: $text-color;
        font-weight: $font-medium;
        font-size: $font-size-42;

      }
    }
    .download {
      position: relative;
      bottom: unset;
      left: unset;
      display: inline-block;
      @media only screen and (max-width: $screen-md) {
        padding: 4px 20px 4px 20px;
        width: 100%;
        svg {
          width: 20px;
          margin-right: 5px;
        }
      }
    }

    &.archyve-single {
      .link-back {
        @media only screen and (max-width: $screen-md) {
          overflow: hidden;
          text-indent: 500px;
        }
      }
      h1 {
        @media only screen and (max-width: $screen-md) {
          font-size: $font-size-20;
        }
      }
      .descr {
        font-size: $font-size-24;
        font-weight: $font-bold;
        margin-top: 35px;
        @media only screen and (max-width: $screen-md) {
          font-size: $font-size-18;
        }
      }
      .cats-menu {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}