.management-header {
  max-width: 1177px;
  margin-top: $section-margin-top;
  .content-box {
    padding-top: $padding-15;
    box-shadow: 5px 3px 30px #07358F29;
    opacity: 1;
    filter: blur(1);
    padding-bottom: 26px;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 30px;
      height: 1px;
      background: #2F2A26;
      opacity: 0.5;
      left: $margin-15;
      bottom:25px;
    }
    h1 {
      font-weight: $font-medium;
      font-size: $font-size-24;
      margin-top: $margin-15;
      margin-bottom: $margin-15;
      text-align: left;
      padding-bottom: 0;
      &:after {
       display: none;
      }
    }
    .content {
      p {
        font-size: $font-size-14;
        color: #2F2A26;
        opacity: 0.5;
        font-weight: $font-regular;
      }

    }
  }
}

.management-list {
  margin-top: $section-margin-top;
  margin-bottom: 55px;
  .manager-box {
    width: 430px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 75px;

    .bottom {
      position: absolute;
      width: 100%;
      height: 157px;
      background: rgba(255,255,255,0.8);
      left: 0;
      bottom: 0;
      text-align: center;
      border-bottom: 1px solid $background-aktive;
    }

    .email-link {
      position: absolute;
      width: 100%;
      bottom: 12px;
      svg {
        @include transform-all;
        width: 28px;
        height: 27px;
        fill: $text-color;
        stroke: $text-color;
      }
      &:hover {
        svg {
          fill: $background-aktive;
          stroke: $background-aktive;
        }
      }
    }
    .title {
      font-size: $font-size-20;
      color: #2F2A26;
      text-transform: uppercase;
      font-weight: $font-bold;
      margin-top: 15px;
    }
    .specialization {
      max-width: 328px;
      margin: 0 auto;
    }
  }
  h2 {
    color: $text-color;
    font-size: $font-size-42;
    margin-bottom: $section-margin-top;
  }
  .col {

  }
}